//
// Statusbar
//

.editor-statusbar {
  padding: $smde-width-gap-half $smde-width-gap;
  font-family: $smde-font-family;
  font-size: $smde-font-size-small;
  color: $smde-color-text-muted;
  text-align: right;
}

.editor-statusbar span {
  display: inline-block;
  margin-left: 1em;
}

.editor-statusbar .lines:before {
  content: 'lines: '
}

.editor-statusbar .words:before {
  content: 'words: '
}

.editor-statusbar .characters:before {
  content: 'characters: '
}
