//
// Statusbar
//

.editor-statusbar {
  padding: $width-gap-half $width-gap;
  font-family: $font-family;
  font-size: $font-size-small;
  color: $color-text-muted;
  text-align: right;
}

.editor-statusbar span {
  display: inline-block;
  margin-left: 1em;
}

.editor-statusbar .lines:before {
  content: 'lines: '
}

.editor-statusbar .words:before {
  content: 'words: '
}

.editor-statusbar .characters:before {
  content: 'characters: '
}
