.editor-toolbar {
  // 
  // Container
  //
  
  position: relative;
  user-select: none;
  padding: 0 $smde-width-gap;
  border-top: 1px solid $smde-color-border;
  border-left: 1px solid $smde-color-border;
  border-right: 1px solid $smde-color-border;
  border-top-left-radius: $smde-border-radius;
  border-top-right-radius: $smde-border-radius;
  font-family: $smde-font-family;
  font-size: $smde-font-size;

  &:before,
  &:after {
    display: block;
    content: ' ';
    height: 1px;
  }
  &:before {
    margin-bottom: $smde-width-gap-half;
  }
  &:after {
    margin-top: $smde-width-gap-half;
  }


  //
  // Icons
  //

  a {
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    color: $smde-color-text-muted !important;
    width: $smde-width-toolbar-icon;
    height: $smde-width-toolbar-icon;
    margin: 0;
    border: 1px solid transparent;
    border-radius: $smde-border-radius;
    cursor: pointer;
    font-size: $smde-font-size-small;

    &.active,
    &:hover {
      color: $smde-color-text !important;
      border-color: $smde-color-border;
    }

    &:before {
      line-height: $smde-width-toolbar-icon;
    }

    // Header icons
    &.fa-header-x:after {
      font-size: $smde-font-size-sub;
      vertical-align: text-bottom;
      position: relative;
      top: $smde-relative-top-header-x;
    }
    &.fa-header-1:after {
      content: "1";
    }
    &.fa-header-2:after {
      content: "2";
    }
    &.fa-header-3:after {
      content: "3";
    }
    &.fa-header-bigger:after {
      content: "▲";
    }
    &.fa-header-smaller:after {
      content: "▼";
    }
  }
  

  //
  // Separator
  //

  & i.separator {
    display: inline-block;
    width: 0;
    border-right: 1px solid $smde-color-border;
    color: transparent;
    text-indent: -10px;
    margin: 0 $smde-width-gap-half;
  }

  &:hover a {
    color: $smde-color-text !important;
  }
}


//
// Fullscreen mode
//

.editor-toolbar.fullscreen {
  width: 100%;
  height: $smde-height-toolbar-fullscreen;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-top: $smde-width-gap;
  padding-bottom: $smde-width-gap;
  box-sizing: border-box;
  background: $smde-color-background;
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $smde-z-index-fullscreen;

  &::before,
  &::after {
    width: 20px;
    height: $smde-height-toolbar-fullscreen;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }
}


//
// Preview mode
//

.editor-preview {
  padding: 0 ($smde-width-gap + $smde-width-gap-half) $smde-width-gap;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $smde-color-background;
  z-index: 7;
  overflow: auto;
  display: none;
  box-sizing: border-box;
}

.editor-preview-side {
  font-family: $smde-font-family;
  padding: $smde-width-gap;
  position: fixed;
  bottom: 0;
  width: 50%;
  top: $smde-height-toolbar-fullscreen;
  right: 0;
  background: $smde-color-background;
  z-index: $smde-z-index-fullscreen;
  overflow: auto;
  display: none;
  box-sizing: border-box;
  border: 0;
  border-top: 1px solid $smde-color-border;
  border-left: 1px solid $smde-color-border;
}

.editor-preview-active,
.editor-preview-active-side {
  display: block;
}

.editor-toolbar.disabled-for-preview a:not(.no-disable) {
  pointer-events: none;
  background: $smde-color-background;
  border-color: transparent;
  text-shadow: inherit;
}


//
// Mobile mode
//

@media only screen and (max-width: $smde-breakpoint-mobile) {
  .editor-toolbar a.no-mobile {
    display: none;
  }
}
