//
// Colors
//

// Background color
$smde-color-background: #fff;
// For code, th
$smde-color-background-over: rgba(0, 0, 0, .05);
// For <mark> highlight
$smde-color-background-mark: #ff0;
// For preview section
$smde-color-background-preview: #fff;
// For selected area
$smde-color-background-selected: rgba(0, 0, 0, .1);

// Border color
$smde-color-border: #ddd !default;

// Text color
$smde-color-text: #333;
$smde-color-text-muted: #777;
// Image alt, HTML tag and attribute
$smde-color-tag: hsl(120, 50%, 50%);
// The link color 
$smde-color-link: hsl(210, 100%, 50%);


//
// Spacing
//

$smde-width-gap: 14px;
$smde-width-gap-half: $smde-width-gap / 2;
$smde-width-gap-double: $smde-width-gap * 2;

// Margin for headers in preview
$smde-margin-header: $smde-width-gap-double 0 0;
// Margin for block elements in preview
$smde-margin-block: $smde-width-gap 0 0;

// The padding of code
// Set it carefully because it's hard to fill the whole line
$smde-padding-code: 6px 0 3px;
// Preview mode
$smde-padding-code-preview: .1em .2em;

// <sub> relative bottom
$smde-bottom-sub: -.25em;

// Border radius for textareas and buttons
$smde-border-radius: 3px !default;


//
// Typography
//

// Main font-size
$smde-font-size: 18px;
// Headers
$smde-font-size-h1: 32px;
$smde-font-size-h2: 26px;
$smde-font-size-h3: 24px;
$smde-font-size-h4: 22px;
$smde-font-size-h5: 20px;
$smde-font-size-h6: 18px;
// Small
$smde-font-size-code: 15px;
$smde-font-size-small: 80%;

// line-height for textarea
// Textarea can only set line-height, no margins or paddings
$smde-line-height: 1.5;
$smde-line-height-header: 2;
// line-height for preview
$smde-line-height-preview: $smde-line-height;
$smde-line-height-header-preview: $smde-line-height-header;
// <pre><code>
$smde-line-height-pre-preview: 1.2;

// font-family
$smde-font-family:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  'Segoe UI',
  // Android
  'Roboto',
  // Linux
  'Oxygen', // KDE
  'Ubuntu',
  'Cantarell', // GNOME
  // Firefox OS [R.I.P.]
  'Fira Sans',
  // Older Android
  'Droid Sans',
  // Chinese font for OSX and iOS
  'Hiragino Sans GB',
  // Chinese font for Windows
  'Microsoft Yahei', '微软雅黑',
  // Basic web fallback
  Arial, Helvetica, STHeiti, sans-serif,
  // Emoji
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;
// Monospace
$smde-font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// font-weight
$smde-font-weight-bold: 600;


//
// Layouts
//

// Height for container
$smde-height-container: auto !default;
// Minimun height for container
$smde-min-height-container: 300px !default;

// A margin need to be set to hidden the right and bottom scrollbar of container
// By default it's set in the codemirror project, default to 30px
// For some reasons, if you resize the padding of the container,
// you need to reset this margin size
// Delete all the textarea content and hide the border of the container to test it
// Be careful!
$smde-margin-hidden-scrollbar: 32px;

// The left and right padding for every line
$smde-padding-line: 0;

// max-height for <pre><code>
$smde-max-height-scroll-view: 300px;


//
// Toolbar
//

// Icon size
$smde-width-toolbar-icon: 30px;
// The height of toolbar in fullscreen mode
$smde-height-toolbar-fullscreen: $smde-width-toolbar-icon + $smde-width-gap-double;


//
// Breakpoints
//

// This is hard coded in simplemde/src/js/simplemde.js
// Be careful if you want to change it 
$smde-breakpoint-mobile: 700px;


//
// z-index
//

$smde-z-index-container: 1;
$smde-z-index-fullscreen: 1000;
